version: '2'
services:
  user-service:
    build: ./user-service
    hostname: localhost
    restart: always
    environment:
      - DB_STRING= $${DB_STRING)
      - JWT_SECRET= $${JWT_SECRET}
      - STRIPE_KEY_LIVE= $${STRIPE_KEY_LIVE}
      - STRIPE_KEY_TEST= $${STRIPE_KEY_TEST}
      - PORT= 8000
    ports:
      - "8000:8000"
    image: raresasd/housingo-user-service
    networks:
      - housingo

  notificiation-service:
    build: ./notification-service
    hostname: localhost
    restart: always
    environment:
      - DB_STRING= $${DB_STRING)
      - JWT_SECRET= $${JWT_SECRET}
      - STRIPE_KEY_LIVE= $${STRIPE_KEY_LIVE}
      - STRIPE_KEY_TEST= $${STRIPE_KEY_TEST}
      - PORT= 8002
      - EMAIL_PASSWORD= $${EMAIL_PASSWORD}
    ports:
      - "8002:8002"
    image: raresasd/housingo-notificiation-service
    networks:
      - housingo

  payment-service:
    build: ./payment-service
    hostname: localhost
    restart: always
    environment:
      - DB_STRING= $${DB_STRING)
      - JWT_SECRET= $${JWT_SECRET}
      - STRIPE_KEY_LIVE= $${STRIPE_KEY_LIVE}
      - STRIPE_KEY_TEST= $${STRIPE_KEY_TEST}
      - PORT= 8001
      - EMAIL_PASSWORD= $${EMAIL_PASSWORD}
    ports:
      - "8001:8001"
    image: raresasd/housingo-payment-service
    networks:
      - housingo

networks:
  housingo:
    driver: bridge
